.btn-success{
    padding: 40px 30px;
    font-size: 30px;
    border-radius: 10px;
    width: 100%;
    }


/*.btn-success:active{
/*formatting goes here*/
/*}
.btn-success:hover{
/*formatting goes here*/
/*}
/*.btn-success:focus{
/*formatting goes here*/
/*}