.col-sm{
    padding-top: 1%;
}

label{
    font-size: 25px;
    font-weight: bold;
}

#showTotal{
    margin-top: 5%;
}

#S_Content{
    width: 70%;
    overflow: auto;
}
#I_Content{
    width: 70%;
    overflow: auto;
}